
body, html{
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    overflow-x: hidden;

}
.degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
	width: 600px;
    height: 600px;
}
body{
    
    background-image: url(image/background-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    height: auto;
}

.currentinfo{
    width: 1680px;
    height: 129px;
    margin-top: 23px;
    text-align: left;
}
.current{
    width: 134px;
    height: 63px;
    margin-left: 56px;
    float: left;
}
.temp{
    color: white;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 47px;
    position: absolute;
}
.icon1{
    position: relative;
    margin-left: 90px
}
.custominfo{
    width: 375px;
    height: 104px;
    position: relative;
    margin-left: 1116px;
    color: white;
}
.datetime{
    color: white;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    margin-left:1423px;
}
#zip{
    width: 250px;
    border-radius: 85px;
    color: 000000;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 1175px;
    position: absolute;
}
.locationinfo{
    width: 225px;
    height: 32px;
    margin-top: 20px;
    margin-left: 1375px;
    position: absolute;
}
p{
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: white;
}
.coordinates{
    width: 225px;
    height: 12px;
    position: relative;
    margin-left: 1375px;
    margin-top: 52px;
}
p1{
    width: auto;
    height: 17px;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 9px;
    margin-left: 3px;
}
p2{
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10x;
    margin-left: 15px;
}
.yourweek{
    width: auto;
    height: auto;
    margin-left: 540px;
}
.firstsection{
    display: grid;
    grid-template: none;
    grid-template-columns: 228px 930px;
    grid-template-rows: 228px;
    grid-column-gap: 50px;
    margin-left: 239px;
    margin-top: 0px;
    border-radius: 35px;
}
.dailyalerts{
    width: 258px;
    height: 219px;
    background-color: #02879A;
    border-radius: 25px;
    margin-top: 1px;
}
.titles{
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: white;
    margin-left: 57px;   
    margin-top: 10px;
}
div{
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 9px;
    margin-left: 16px;
    margin-top: 10px;
    letter-spacing:1px;
}
.ataglance{
    display: grid;
    grid-template: none;
    grid-template-columns: 130px 130px 130px 130px 130px 130px 130px;
    grid-template-rows: 228px;
    margin-top: 0px;
    border-radius: 35px;
    background-color: #78B6C5;
}
.day{
    height: 10px;
    width: 30px;
    margin-top: 15px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}
.dailyicon{
    width: 54px;
    height: 54px;
    margin-top: 23px;
    margin-left: 20px;
}
.suncloud{
    width: 65px;
    height: 49px;
}
.temp{
    margin-top: 23px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    position: absolute;
}
.precip{
    width: 80px;
    height: 27px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    margin-top: 60px;
    position: absolute;
    align: left;
}
.currents{
    width: auto;
    margin-left: 300px;
    margin-top: 53px;

}
.dates{
    width: auto;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}
.column1{
    width: auto;
    height: auto;
}
.left{
    width: 202px;
    height: 154px;
    margin-left: 320px;
    background-color: green;
    border-radius: 25px;
    align-content: left;
}
.actualtemp{
    width: auto;
    height: auto;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    color: white;
    letter-spacing: 0px;
    position: absolute;
    margin-top: 20px;

}
.hightemps{
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    color: white;
    letter-spacing: 0px;
    margin-left: 115px;
    padding-top: 20px;
}
.number1{
    font-family: source-sans-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    position: absolute;
    align-content: top;
}
.number2{
    font-family: source-sans-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    margin-left: 115px;
    position: relative;
}
.feelslike{
    width: 165px;
    height: 35px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    color: white;
    text-align: left;
    letter-spacing:  0px;
    margin-top: 10px;
    position: absolute;
}
.lowtemp{
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    color: white;
    text-align: left;
    letter-spacing:  0px;
    margin-top: 10px;
    margin-left: 115px;
    position: relative;
}
.number3{
    font-family: source-sans-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    position: absolute;
}
.number4{
    font-family: source-sans-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    margin-left: 115px;
    position: relative;

}
.descriptday{
    color: white;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 20px;
}
.evening{
    width: 265px;
    height: 122px;
    background-color: green;
    border-radius: 25px;
    margin-left: 0px;
    position: absolute;
}
.tonight{
    font-family: source-sans-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 10px;
    position: relative;
    margin-top: 15px;
}
.highlow{
    font-family: source-sans-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 36px;
    position: absolute;
    margin-top: 15px;
}
.nighticon{
    margin-left: 175px;
    margin-top: 10px;
}
.eveningde{

}